<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret Key</key>
	<string>62b4R0LL7ucbfJtQu0xKk1Ub1Ef0ws3xlZNAh2K8T49bYT6gqE</string>
	<key>API Key</key>
	<string>U93jr6cdMt13U9pNQuWrtefdr</string>
</dict>
</plist>
